@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	th,
	td {
		@apply whitespace-nowrap px-5 text-smallish sm:px-6;
	}
	th {
		@apply py-3.5;
	}
	td {
		@apply py-4;
	}
}

@layer utilities {
	/* `dvh` has less browser support than `:has()`. */
	/* See https://caniuse.com/mdn-api_css_dvh_static */
	/* See https://github.com/tailwindlabs/tailwindcss/pull/11317#issuecomment-1821960839 */
	.min-h-screen {
		min-height: 100vh;
		min-height: 100dvh;
	}
	.h-screen {
		height: 100vh;
		height: 100dvh;
	}
}
