#cloud-config

disable_root: true
ssh_pwauth: false

users:
  - default
  - name: webadmin
    shell: /bin/bash
    lock_passwd: true
    sudo:
      - 'ALL=(ALL) NOPASSWD:/bin/cloudflared service install'
      - 'ALL=(ALL) NOPASSWD:/bin/systemctl * cloudflared'
      - 'ALL=(ALL) NOPASSWD:/bin/systemctl * nginx'
      - 'ALL=(ALL) NOPASSWD:/usr/sbin/nginx'

yum_repos:
  cloudflared-stable:
    # See https://pkg.cloudflare.com/index.html
    name: cloudflared-stable
    baseurl: https://pkg.cloudflare.com/cloudflared/rpm
    enabled: true
    type: rpm
    gpgcheck: true
    gpgkey: https://pkg.cloudflare.com/cloudflare-ascii-pubkey.gpg

  nginx-stable:
    # See http://nginx.org/en/linux_packages.html#RHEL
    name: nginx stable repo
    baseurl: http://nginx.org/packages/centos/$releasever/$basearch/
    enabled: true
    gpgcheck: true
    gpgkey: https://nginx.org/keys/nginx_signing.key
    module_hotfixes: true

  tailscale-stable:
    # See https://tailscale.com/kb/1198/install-rhel-9
    name: Tailscale stable
    baseurl: https://pkgs.tailscale.com/stable/rhel/9/$basearch
    enabled: true
    type: rpm
    repo_gpgcheck: true
    gpgcheck: true
    gpgkey: https://pkgs.tailscale.com/stable/rhel/9/repo.gpg

package_update: true
package_upgrade: true
package_reboot_if_required: true

packages:
  - cloudflared
  - nginx
  - tailscale
  - yum-utils

bootcmd:
  - fallocate -l 2G /swapfile
  - chmod 600 /swapfile
  - mkswap /swapfile
  - swapon /swapfile
  - echo '/swapfile none swap sw 0 0' >> /etc/fstab

write_files:
  - path: /etc/cloudflared/config.yml
    content: |
      url: http://localhost:8000
      tunnel: <Tunnel-UUID>
      credentials-file: /home/webadmin/.cloudflared/<Tunnel-UUID>.json

  - path: /etc/nginx/conf.d/default.conf
    content: |
      limit_req_zone $binary_remote_addr zone=sveltekit_limit:10m rate=10r/s;

      server {
        listen 8000;
        client_max_body_size 1m;
        server_tokens off;

        location / {
          root /home/webadmin/server/static;
          try_files $uri @sveltekit;
          expires 30d;
        }

        location ~ \.(css|js|woff2)$ {
          proxy_pass http://localhost:3000;
        }

        location @sveltekit {
          limit_req zone=sveltekit_limit burst=20 nodelay;
          proxy_pass http://localhost:3000;
        }
      }

  - path: /home/webadmin/.bash_profile
    content: |
      if [ -f ~/.bashrc ]; then
        source ~/.bashrc
      fi

  - path: /home/webadmin/.bashrc
    append: true
    content: |

      # fnm
      FNM_PATH="/home/webadmin/.local/share/fnm"
      if [ -d "$FNM_PATH" ]; then
        export PATH="$FNM_PATH:$PATH"
        eval "$(fnm env --use-on-cd --corepack-enabled)"
      fi

  - path: /home/webadmin/init.sh
    permissions: '0755'
    content: |
      #!/bin/bash

      curl -fsSL https://fnm.vercel.app/install | bash -s -- --skip-shell
      source ~/.bashrc

      fnm install --lts
      corepack install --global pnpm

      pnpm setup
      source ~/.bashrc

      pnpm add pm2@latest --global
      pm2 install pm2-logrotate

      rm -- "$0"

  - path: /run/scripts/setup.sh
    permissions: '0755'
    content: |
      mkdir -p /home/webadmin/server/static
      chown -R webadmin:webadmin /home/webadmin
      chmod 700 /home/webadmin

      setfacl -m u:webadmin:rw- /etc/cloudflared/config.yml
      setfacl -R -m u:webadmin:rwx /etc/nginx/conf.d
      setfacl -d -m u:webadmin:rw- /etc/nginx/conf.d
      setfacl -R -m u:webadmin:r-x /var/log/nginx
      setfacl -d -m u:webadmin:r-- /var/log/nginx

      setfacl -m u:nginx:r-x /home/webadmin
      setfacl -m u:nginx:r-x /home/webadmin/server
      setfacl -R -m u:nginx:r-x /home/webadmin/server/static
      setfacl -d -m u:nginx:r-x /home/webadmin/server/static

      setsebool -P httpd_can_network_connect 1
      semanage port -a -t http_port_t -p tcp 8000 || semanage port -m -t http_port_t -p tcp 8000
      semanage fcontext -a -t httpd_sys_content_t "/home/webadmin/server/static(/.*)?"
      restorecon -Rv /home/webadmin/server/static

      systemctl enable --now nginx
      systemctl enable --now tailscaled

runcmd:
  - [sh, '/run/scripts/setup.sh']
